<!DOCTYPE html>
<html>
	<head>
		<meta charset="UFT-8" lang="PT-BR">
		<meta http-equiv="X-UA-Compatible" content="IE=edge"> 
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Oswald:wght@200&family=Yellowtail&display=swap" rel="stylesheet">
		<link href="stylesheet" type="text/css" href="../static/css/normalize.css" />
		<link rel="stylesheet" type="text/css" href="../static/css/estilo.css">
		<link rel="shortcut icon" href="../static/img/logo.png" type="imagen/x-icon" />
		<title>Projetos</title>
	</head>
<body>
	
	<nav>	
			<div id="rosa">
				<img class="logo" src="../static/img/logo.png" alt="Logo">
			</div>
			<br/>
			<br/>
			<br/>
			<a class="nome" href="#">Rafael Peressoni Waltrick</a>
			<ul>
				<li><a href="/sobremim"> Sobre Mim </a></li>
				<li><a href="/curriculo"> Curriculo </a></li>
				<li><a href="/projecao"> Projetos </a></li>			
			</ul>
			<!--<div id="imagem">
				<a href="https://www.linkedin.com/in/rafael-p-waltrick-7211b4221" target="_blank"><img class="linkedin" src="../img/linkedin.png" alt="linkedin"></a>
				<a href="https://t.me/rafawaltrick" target="_blank"><img class="telegram" src="../img/telegram.png" alt="telegram"></a>
			</div>-->
	</nav>
	
	<section id="divisa">
	</section>
	{% block conteudo %}
	
	{% endblock %}
	<section id="contato">
			<div class="contato2">
			<h2>Contatos</h2>
			</div>
			<div id="telefone">
				<img class="telefone" src="../static/img/tel.png" alt="telefone">
				<p><a href="tel:15996657948"> (15)996657948 </a></p>
			</div>
			<div id="email">
				<img class="email" src="../static/img/email.png" alt="e-mail">
				<p><a href="mailto:rafael.waltrick@fatec.sp.gov.br">rafael.waltrick@fatec.sp.gov.br</a></p>
			</div>
	</section>
	
	<footer class="rodape">
		<p>Criado e desenvolvido por Rafael Peressoni Waltrick</p>
	</footer>
</body>
</html>